In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv("C:\\Users\Dee1\Downloads\churn-modellingcsv\Churn_Modelling.csv")
data

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
5,6,15574012,Chu,645,Spain,Male,44,8,113755.78,2,1,0,149756.71,1
6,7,15592531,Bartlett,822,France,Male,50,7,0.00,2,1,1,10062.80,0
7,8,15656148,Obinna,376,Germany,Female,29,4,115046.74,4,1,0,119346.88,1
8,9,15792365,He,501,France,Male,44,4,142051.07,2,0,1,74940.50,0
9,10,15592389,H?,684,France,Male,27,2,134603.88,1,1,1,71725.73,0
10,11,15767821,Bearce,528,France,Male,31,6,102016.72,2,0,0,80181.12,0
11,12,15737173,Andrews,497,Spain,Male,24,3,0.00,2,1,0,76390.01,0
12,13,15632264,Kay,476,France,Female,34,10,0.00,2,1,0,26260.98,0
13,14,15691483,Chin,549,France,Female,25,5,0.00,2,0,0,190857.79,0
14,15,15600882,Scott,635,Spain,Female,35,7,0.00,2,1,1,65951.65,0
15,16,15643966,Goforth,616,Germany,Male,45,3,143129.41,2,0,1,64327.26,0
16,17,15737452,Romeo,653,Germany,Male,58,1,132602.88,1,1,0,5097.67,1
17,18,15788218,Henderson,549,Spain,Female,24,9,0.00,2,1,1,14406.41,0
18,19,15661507,Muldrow,587,Spain,Male,45,6,0.00,1,0,0,158684.81,0
19,20,15568982,Hao,726,France,Female,24,6,0.00,2,1,1,54724.03,0
20,21,15577657,McDonald,732,France,Male,41,8,0.00,2,1,1,170886.17,0
21,22,15597945,Dellucci,636,Spain,Female,32,8,0.00,2,1,0,138555.46,0
22,23,15699309,Gerasimov,510,Spain,Female,38,4,0.00,1,1,0,118913.53,1
23,24,15725737,Mosman,669,France,Male,46,3,0.00,2,0,1,8487.75,0
24,25,15625047,Yen,846,France,Female,38,5,0.00,1,1,1,187616.16,0
25,26,15738191,Maclean,577,France,Male,25,3,0.00,2,0,1,124508.29,0
26,27,15736816,Young,756,Germany,Male,36,2,136815.64,1,1,1,170041.95,0
27,28,15700772,Nebechi,571,France,Male,44,9,0.00,2,0,0,38433.35,0
28,29,15728693,McWilliams,574,Germany,Female,43,3,141349.43,1,1,1,100187.43,0
29,30,15656300,Lucciano,411,France,Male,29,0,59697.17,2,1,1,53483.21,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9970,9971,15587133,Thompson,518,France,Male,42,7,151027.05,2,1,0,119377.36,0
9971,9972,15721377,Chou,833,France,Female,34,3,144751.81,1,0,0,166472.81,0
9972,9973,15747927,Ch'in,758,France,Male,26,4,155739.76,1,1,0,171552.02,0
9973,9974,15806455,Miller,611,France,Male,27,7,0.00,2,1,1,157474.10,0
9974,9975,15695474,Barker,583,France,Male,33,7,122531.86,1,1,0,13549.24,0
9975,9976,15666295,Smith,610,Germany,Male,50,1,113957.01,2,1,0,196526.55,1
9976,9977,15656062,Azikiwe,637,France,Female,33,7,103377.81,1,1,0,84419.78,0
9977,9978,15579969,Mancini,683,France,Female,32,9,0.00,2,1,1,24991.92,0
9978,9979,15703563,P'eng,774,France,Male,40,9,93017.47,2,1,0,191608.97,0
9979,9980,15692664,Diribe,677,France,Female,58,1,90022.85,1,0,1,2988.28,0
9980,9981,15719276,T'ao,741,Spain,Male,35,6,74371.49,1,0,0,99595.67,0
9981,9982,15672754,Burbidge,498,Germany,Male,42,3,152039.70,1,1,1,53445.17,1
9982,9983,15768163,Griffin,655,Germany,Female,46,7,137145.12,1,1,0,115146.40,1
9983,9984,15656710,Cocci,613,France,Male,40,4,0.00,1,0,0,151325.24,0
9984,9985,15696175,Echezonachukwu,602,Germany,Male,35,7,90602.42,2,1,1,51695.41,0
9985,9986,15586914,Nepean,659,France,Male,36,6,123841.49,2,1,0,96833.00,0
9986,9987,15581736,Bartlett,673,Germany,Male,47,1,183579.54,2,0,1,34047.54,0
9987,9988,15588839,Mancini,606,Spain,Male,30,8,180307.73,2,1,1,1914.41,0
9988,9989,15589329,Pirozzi,775,France,Male,30,4,0.00,2,1,0,49337.84,0
9989,9990,15605622,McMillan,841,Spain,Male,28,4,0.00,2,1,1,179436.60,0
9990,9991,15798964,Nkemakonam,714,Germany,Male,33,3,35016.60,1,1,0,53667.08,0
9991,9992,15769959,Ajuluchukwu,597,France,Female,53,4,88381.21,1,1,0,69384.71,1
9992,9993,15657105,Chukwualuka,726,Spain,Male,36,2,0.00,1,1,0,195192.40,0
9993,9994,15569266,Rahman,644,France,Male,28,7,155060.41,1,1,0,29179.52,0
9994,9995,15719294,Wood,800,France,Female,29,2,0.00,2,0,0,167773.55,0
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
RowNumber          10000 non-null int64
CustomerId         10000 non-null int64
Surname            10000 non-null object
CreditScore        10000 non-null int64
Geography          10000 non-null object
Gender             10000 non-null object
Age                10000 non-null int64
Tenure             10000 non-null int64
Balance            10000 non-null float64
NumOfProducts      10000 non-null int64
HasCrCard          10000 non-null int64
IsActiveMember     10000 non-null int64
EstimatedSalary    10000 non-null float64
Exited             10000 non-null int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [4]:
data.describe()

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,10000.00000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000
mean,5000.50000,1.569094e+07,650.528800,38.921800,5.012800,76485.889288,1.530200,0.70550,0.515100,100090.239881,0.203700
std,2886.89568,7.193619e+04,96.653299,10.487806,2.892174,62397.405202,0.581654,0.45584,0.499797,57510.492818,0.402769
min,1.00000,1.556570e+07,350.000000,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000,0.000000
25%,2500.75000,1.562853e+07,584.000000,32.000000,3.000000,0.000000,1.000000,0.00000,0.000000,51002.110000,0.000000
50%,5000.50000,1.569074e+07,652.000000,37.000000,5.000000,97198.540000,1.000000,1.00000,1.000000,100193.915000,0.000000
75%,7500.25000,1.575323e+07,718.000000,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500,0.000000
max,10000.00000,1.581569e+07,850.000000,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000,1.000000

In [5]:
data.head(5)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [6]:
data.tail()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [7]:
X = data.iloc[:, 3:13].values
X

array([[619, 'France', 'Female', ..., 1, 1, 101348.88],
       [608, 'Spain', 'Female', ..., 0, 1, 112542.58],
       [502, 'France', 'Female', ..., 1, 0, 113931.57],
       ...,
       [709, 'France', 'Female', ..., 0, 1, 42085.58],
       [772, 'Germany', 'Male', ..., 1, 0, 92888.52],
       [792, 'France', 'Female', ..., 1, 0, 38190.78]], dtype=object)

In [8]:
Y = data.iloc[:, 13].values
Y

array([1, 0, 1, ..., 1, 1, 0], dtype=int64)

In [9]:
# encoding categorical data

In [10]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

labelencoder_X_1 = LabelEncoder()
X[:, 1] = labelencoder_X_1.fit_transform(X[:, 1])

labelencoder_X_2 = LabelEncoder()
X[:, 2] = labelencoder_X_2.fit_transform(X[:, 2])

oneHotEncoder = OneHotEncoder(categorical_features = [1])
X = oneHotEncoder.fit_transform(X).toarray()
X = X[:, 1:]

c:\users\dee1\appdata\local\programs\python\python36\lib\site-packages\sklearn\preprocessing\_encoders.py:371: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
c:\users\dee1\appdata\local\programs\python\python36\lib\site-packages\sklearn\preprocessing\_encoders.py:392: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

In [11]:
# splitting data set into train test split
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.35, random_state = 0)
print("X_train set : ", X_train)
print("X_test set : ", X_test)
print("Y_train set : ", Y_train)
print("Y_test set : ", Y_test)

X_train set :  [[1.0000000e+00 0.0000000e+00 6.5100000e+02 ... 1.0000000e+00
  0.0000000e+00 6.6389430e+04]
 [0.0000000e+00 0.0000000e+00 4.8100000e+02 ... 1.0000000e+00
  0.0000000e+00 1.4521596e+05]
 [0.0000000e+00 1.0000000e+00 5.7600000e+02 ... 0.0000000e+00
  1.0000000e+00 3.4101060e+04]
 ...
 [0.0000000e+00 0.0000000e+00 7.3800000e+02 ... 1.0000000e+00
  0.0000000e+00 1.8142987e+05]
 [0.0000000e+00 1.0000000e+00 5.9000000e+02 ... 1.0000000e+00
  1.0000000e+00 1.4875016e+05]
 [1.0000000e+00 0.0000000e+00 6.2300000e+02 ... 1.0000000e+00
  0.0000000e+00 1.1885526e+05]]
X_test set :  [[1.0000000e+00 0.0000000e+00 5.9700000e+02 ... 1.0000000e+00
  1.0000000e+00 1.9285267e+05]
 [0.0000000e+00 0.0000000e+00 5.2300000e+02 ... 1.0000000e+00
  0.0000000e+00 1.2870210e+05]
 [0.0000000e+00 1.0000000e+00 7.0600000e+02 ... 1.0000000e+00
  1.0000000e+00 7.5732250e+04]
 ...
 [0.0000000e+00 0.0000000e+00 7.2100000e+02 ... 1.0000000e+00
  1.0000000e+00 1.4487467e+05]
 [0.0000000e+00 0.0000000e+00 7.0900000e+02 ... 1.0000000e+00
  1.0000000e+00 7.1009840e+04]
 [0.0000000e+00 1.0000000e+00 7.0300000e+02 ... 1.0000000e+00
  0.0000000e+00 1.4385966e+05]]
Y_train set :  [1 0 0 ... 0 0 1]
Y_test set :  [0 1 0 ... 0 0 0]

In [12]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [14]:
import tensorflow as tf
import keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Activation
from tensorflow.keras import backend
from tensorflow.python.framework import ops
ops.reset_default_graph()

model = Sequential()

In [16]:
model.add(Dense(units=6, kernel_initializer='uniform', activation='relu', input_dim=11))
model.add(Dense(units=6, kernel_initializer='uniform', activation='relu'))
model.add(Dense(units=1, kernel_initializer='uniform', activation='sigmoid'))

In [36]:
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [37]:
model.fit(X_train, Y_train, batch_size=10, epochs=100, validation_split=0.1)

Train on 5850 samples, validate on 650 samples
Epoch 1/100
5850/5850 [==============================] - 1s 140us/sample - loss: 0.3983 - accuracy: 0.8342 - val_loss: 0.3732 - val_accuracy: 0.8538
Epoch 2/100
5850/5850 [==============================] - 1s 114us/sample - loss: 0.3981 - accuracy: 0.8338 - val_loss: 0.3736 - val_accuracy: 0.8492
Epoch 3/100
5850/5850 [==============================] - 1s 193us/sample - loss: 0.3980 - accuracy: 0.8361 - val_loss: 0.3727 - val_accuracy: 0.8508
Epoch 4/100
5850/5850 [==============================] - 1s 167us/sample - loss: 0.3984 - accuracy: 0.8342 - val_loss: 0.3725 - val_accuracy: 0.8538
Epoch 5/100
5850/5850 [==============================] - 0s 82us/sample - loss: 0.3983 - accuracy: 0.8354 - val_loss: 0.3743 - val_accuracy: 0.8508
Epoch 6/100
5850/5850 [==============================] - 0s 82us/sample - loss: 0.3975 - accuracy: 0.8349 - val_loss: 0.3719 - val_accuracy: 0.8477
Epoch 7/100
5850/5850 [==============================] - 0s 84us/sample - loss: 0.3979 - accuracy: 0.8340 - val_loss: 0.3730 - val_accuracy: 0.8508
Epoch 8/100
5850/5850 [==============================] - 0s 82us/sample - loss: 0.3977 - accuracy: 0.8347 - val_loss: 0.3736 - val_accuracy: 0.8508
Epoch 9/100
5850/5850 [==============================] - 1s 97us/sample - loss: 0.3983 - accuracy: 0.8340 - val_loss: 0.3740 - val_accuracy: 0.8462
Epoch 10/100
5850/5850 [==============================] - 1s 118us/sample - loss: 0.3979 - accuracy: 0.8350 - val_loss: 0.3747 - val_accuracy: 0.8508
Epoch 11/100
5850/5850 [==============================] - 1s 125us/sample - loss: 0.3982 - accuracy: 0.8325 - val_loss: 0.3735 - val_accuracy: 0.8446
Epoch 12/100
5850/5850 [==============================] - 1s 141us/sample - loss: 0.3977 - accuracy: 0.8369 - val_loss: 0.3748 - val_accuracy: 0.8523
Epoch 13/100
5850/5850 [==============================] - 1s 137us/sample - loss: 0.3981 - accuracy: 0.8354 - val_loss: 0.3731 - val_accuracy: 0.8477
Epoch 14/100
5850/5850 [==============================] - 2s 274us/sample - loss: 0.3976 - accuracy: 0.8350 - val_loss: 0.3750 - val_accuracy: 0.8508
Epoch 15/100
5850/5850 [==============================] - 1s 137us/sample - loss: 0.3978 - accuracy: 0.8362 - val_loss: 0.3733 - val_accuracy: 0.8523
Epoch 16/100
5850/5850 [==============================] - 1s 124us/sample - loss: 0.3978 - accuracy: 0.8347 - val_loss: 0.3749 - val_accuracy: 0.8477
Epoch 17/100
5850/5850 [==============================] - 1s 118us/sample - loss: 0.3980 - accuracy: 0.8368 - val_loss: 0.3757 - val_accuracy: 0.8538
Epoch 18/100
5850/5850 [==============================] - 1s 126us/sample - loss: 0.3975 - accuracy: 0.8361 - val_loss: 0.3737 - val_accuracy: 0.8523
Epoch 19/100
5850/5850 [==============================] - 1s 136us/sample - loss: 0.3972 - accuracy: 0.8349 - val_loss: 0.3753 - val_accuracy: 0.8462
Epoch 20/100
5850/5850 [==============================] - 1s 168us/sample - loss: 0.3974 - accuracy: 0.8352 - val_loss: 0.3762 - val_accuracy: 0.8431
Epoch 21/100
5850/5850 [==============================] - 1s 123us/sample - loss: 0.3976 - accuracy: 0.8369 - val_loss: 0.3769 - val_accuracy: 0.8538
Epoch 22/100
5850/5850 [==============================] - 1s 157us/sample - loss: 0.3976 - accuracy: 0.8357 - val_loss: 0.3727 - val_accuracy: 0.8538
Epoch 23/100
5850/5850 [==============================] - 1s 154us/sample - loss: 0.3978 - accuracy: 0.8357 - val_loss: 0.3764 - val_accuracy: 0.8523
Epoch 24/100
5850/5850 [==============================] - 1s 116us/sample - loss: 0.3973 - accuracy: 0.8357 - val_loss: 0.3735 - val_accuracy: 0.8508
Epoch 25/100
5850/5850 [==============================] - 1s 121us/sample - loss: 0.3977 - accuracy: 0.8354 - val_loss: 0.3736 - val_accuracy: 0.8523
Epoch 26/100
5850/5850 [==============================] - 1s 119us/sample - loss: 0.3977 - accuracy: 0.8364 - val_loss: 0.3730 - val_accuracy: 0.8508
Epoch 27/100
5850/5850 [==============================] - 1s 122us/sample - loss: 0.3977 - accuracy: 0.8347 - val_loss: 0.3739 - val_accuracy: 0.8508
Epoch 28/100
5850/5850 [==============================] - 1s 125us/sample - loss: 0.3973 - accuracy: 0.8352 - val_loss: 0.3736 - val_accuracy: 0.8477
Epoch 29/100
5850/5850 [==============================] - 1s 132us/sample - loss: 0.3974 - accuracy: 0.8359 - val_loss: 0.3722 - val_accuracy: 0.8569
Epoch 30/100
5850/5850 [==============================] - 1s 126us/sample - loss: 0.3979 - accuracy: 0.8356 - val_loss: 0.3731 - val_accuracy: 0.8523
Epoch 31/100
5850/5850 [==============================] - 1s 132us/sample - loss: 0.3975 - accuracy: 0.8364 - val_loss: 0.3750 - val_accuracy: 0.8446
Epoch 32/100
5850/5850 [==============================] - 1s 122us/sample - loss: 0.3974 - accuracy: 0.8369 - val_loss: 0.3753 - val_accuracy: 0.8492
Epoch 33/100
5850/5850 [==============================] - 1s 124us/sample - loss: 0.3978 - accuracy: 0.8344 - val_loss: 0.3737 - val_accuracy: 0.8523
Epoch 34/100
5850/5850 [==============================] - 1s 131us/sample - loss: 0.3979 - accuracy: 0.8342 - val_loss: 0.3736 - val_accuracy: 0.8523
Epoch 35/100
5850/5850 [==============================] - 1s 130us/sample - loss: 0.3978 - accuracy: 0.8352 - val_loss: 0.3736 - val_accuracy: 0.8508
Epoch 36/100
5850/5850 [==============================] - 1s 125us/sample - loss: 0.3966 - accuracy: 0.8340 - val_loss: 0.3730 - val_accuracy: 0.8477
Epoch 37/100
5850/5850 [==============================] - 1s 114us/sample - loss: 0.3976 - accuracy: 0.8350 - val_loss: 0.3719 - val_accuracy: 0.8538
Epoch 38/100
5850/5850 [==============================] - 1s 117us/sample - loss: 0.3979 - accuracy: 0.8347 - val_loss: 0.3734 - val_accuracy: 0.8538
Epoch 39/100
5850/5850 [==============================] - 1s 127us/sample - loss: 0.3977 - accuracy: 0.8345 - val_loss: 0.3739 - val_accuracy: 0.8523
Epoch 40/100
5850/5850 [==============================] - 1s 141us/sample - loss: 0.3976 - accuracy: 0.8352 - val_loss: 0.3745 - val_accuracy: 0.8462
Epoch 41/100
5850/5850 [==============================] - 1s 124us/sample - loss: 0.3970 - accuracy: 0.8371 - val_loss: 0.3737 - val_accuracy: 0.8538
Epoch 42/100
5850/5850 [==============================] - 1s 142us/sample - loss: 0.3976 - accuracy: 0.8342 - val_loss: 0.3754 - val_accuracy: 0.8508
Epoch 43/100
5850/5850 [==============================] - 1s 144us/sample - loss: 0.3980 - accuracy: 0.8362 - val_loss: 0.3741 - val_accuracy: 0.8554
Epoch 44/100
5850/5850 [==============================] - 1s 163us/sample - loss: 0.3974 - accuracy: 0.8356 - val_loss: 0.3740 - val_accuracy: 0.8462
Epoch 45/100
5850/5850 [==============================] - 1s 158us/sample - loss: 0.3973 - accuracy: 0.8345 - val_loss: 0.3735 - val_accuracy: 0.8538
Epoch 46/100
5850/5850 [==============================] - 1s 141us/sample - loss: 0.3975 - accuracy: 0.8357 - val_loss: 0.3747 - val_accuracy: 0.8538
Epoch 47/100
5850/5850 [==============================] - 1s 144us/sample - loss: 0.3973 - accuracy: 0.8356 - val_loss: 0.3742 - val_accuracy: 0.8523
Epoch 48/100
5850/5850 [==============================] - 1s 145us/sample - loss: 0.3971 - accuracy: 0.8361 - val_loss: 0.3737 - val_accuracy: 0.8523
Epoch 49/100
5850/5850 [==============================] - 1s 182us/sample - loss: 0.3971 - accuracy: 0.8361 - val_loss: 0.3751 - val_accuracy: 0.8523
Epoch 50/100
5850/5850 [==============================] - 1s 167us/sample - loss: 0.3976 - accuracy: 0.8352 - val_loss: 0.3767 - val_accuracy: 0.8462
Epoch 51/100
5850/5850 [==============================] - 1s 154us/sample - loss: 0.3970 - accuracy: 0.8361 - val_loss: 0.3725 - val_accuracy: 0.8492
Epoch 52/100
5850/5850 [==============================] - 1s 158us/sample - loss: 0.3980 - accuracy: 0.8338 - val_loss: 0.3752 - val_accuracy: 0.8523
Epoch 53/100
5850/5850 [==============================] - 1s 153us/sample - loss: 0.3965 - accuracy: 0.8369 - val_loss: 0.3797 - val_accuracy: 0.8538
Epoch 54/100
5850/5850 [==============================] - 1s 167us/sample - loss: 0.3976 - accuracy: 0.8357 - val_loss: 0.3735 - val_accuracy: 0.8585
Epoch 55/100

5850/5850 [==============================] - 1s 130us/sample - loss: 0.3970 - accuracy: 0.8354 - val_loss: 0.3767 - val_accuracy: 0.8508
Epoch 56/100
5850/5850 [==============================] - 1s 125us/sample - loss: 0.3979 - accuracy: 0.8361 - val_loss: 0.3733 - val_accuracy: 0.8554
Epoch 57/100
5850/5850 [==============================] - 1s 123us/sample - loss: 0.3968 - accuracy: 0.8366 - val_loss: 0.3755 - val_accuracy: 0.8585
Epoch 58/100
5850/5850 [==============================] - 1s 126us/sample - loss: 0.3973 - accuracy: 0.8369 - val_loss: 0.3764 - val_accuracy: 0.8600
Epoch 59/100
5850/5850 [==============================] - 1s 139us/sample - loss: 0.3969 - accuracy: 0.8356 - val_loss: 0.3738 - val_accuracy: 0.8523
Epoch 60/100
5850/5850 [==============================] - 1s 118us/sample - loss: 0.3974 - accuracy: 0.8362 - val_loss: 0.3740 - val_accuracy: 0.8600
Epoch 61/100
5850/5850 [==============================] - 1s 123us/sample - loss: 0.3973 - accuracy: 0.8374 - val_loss: 0.3733 - val_accuracy: 0.8554
Epoch 62/100
5850/5850 [==============================] - 1s 125us/sample - loss: 0.3972 - accuracy: 0.8366 - val_loss: 0.3759 - val_accuracy: 0.8538
Epoch 63/100
5850/5850 [==============================] - 1s 133us/sample - loss: 0.3962 - accuracy: 0.8352 - val_loss: 0.3752 - val_accuracy: 0.8554
Epoch 64/100
5850/5850 [==============================] - 1s 130us/sample - loss: 0.3970 - accuracy: 0.8356 - val_loss: 0.3736 - val_accuracy: 0.8554
Epoch 65/100
5850/5850 [==============================] - 1s 149us/sample - loss: 0.3965 - accuracy: 0.8359 - val_loss: 0.3795 - val_accuracy: 0.8569
Epoch 66/100
5850/5850 [==============================] - 1s 141us/sample - loss: 0.3968 - accuracy: 0.8376 - val_loss: 0.3751 - val_accuracy: 0.8492
Epoch 67/100
5850/5850 [==============================] - 1s 166us/sample - loss: 0.3964 - accuracy: 0.8368 - val_loss: 0.3749 - val_accuracy: 0.8508
Epoch 68/100
5850/5850 [==============================] - 1s 167us/sample - loss: 0.3969 - accuracy: 0.8379 - val_loss: 0.3732 - val_accuracy: 0.8569
Epoch 69/100
5850/5850 [==============================] - 1s 126us/sample - loss: 0.3971 - accuracy: 0.8350 - val_loss: 0.3741 - val_accuracy: 0.8477
Epoch 70/100
5850/5850 [==============================] - 1s 126us/sample - loss: 0.3968 - accuracy: 0.8366 - val_loss: 0.3743 - val_accuracy: 0.8492
Epoch 71/100
5850/5850 [==============================] - 1s 130us/sample - loss: 0.3969 - accuracy: 0.8350 - val_loss: 0.3767 - val_accuracy: 0.8492
Epoch 72/100
5850/5850 [==============================] - 1s 124us/sample - loss: 0.3964 - accuracy: 0.8379 - val_loss: 0.3732 - val_accuracy: 0.8523
Epoch 73/100
5850/5850 [==============================] - 1s 126us/sample - loss: 0.3970 - accuracy: 0.8368 - val_loss: 0.3764 - val_accuracy: 0.8523
Epoch 74/100
5850/5850 [==============================] - 1s 126us/sample - loss: 0.3969 - accuracy: 0.8371 - val_loss: 0.3764 - val_accuracy: 0.8554
Epoch 75/100
5850/5850 [==============================] - 1s 133us/sample - loss: 0.3970 - accuracy: 0.8371 - val_loss: 0.3749 - val_accuracy: 0.8508
Epoch 76/100
5850/5850 [==============================] - 1s 130us/sample - loss: 0.3967 - accuracy: 0.8362 - val_loss: 0.3767 - val_accuracy: 0.8492
Epoch 77/100
5850/5850 [==============================] - 1s 123us/sample - loss: 0.3969 - accuracy: 0.8357 - val_loss: 0.3729 - val_accuracy: 0.8569
Epoch 78/100
5850/5850 [==============================] - 1s 130us/sample - loss: 0.3958 - accuracy: 0.8386 - val_loss: 0.3722 - val_accuracy: 0.8554
Epoch 79/100
5850/5850 [==============================] - 1s 132us/sample - loss: 0.3968 - accuracy: 0.8349 - val_loss: 0.3740 - val_accuracy: 0.8508
Epoch 80/100
5850/5850 [==============================] - 1s 130us/sample - loss: 0.3964 - accuracy: 0.8368 - val_loss: 0.3757 - val_accuracy: 0.8477
Epoch 81/100
5850/5850 [==============================] - 1s 127us/sample - loss: 0.3968 - accuracy: 0.8368 - val_loss: 0.3738 - val_accuracy: 0.8523
Epoch 82/100
5850/5850 [==============================] - 1s 133us/sample - loss: 0.3965 - accuracy: 0.8366 - val_loss: 0.3739 - val_accuracy: 0.8508
Epoch 83/100
5850/5850 [==============================] - 1s 134us/sample - loss: 0.3969 - accuracy: 0.8364 - val_loss: 0.3756 - val_accuracy: 0.8538
Epoch 84/100
5850/5850 [==============================] - 1s 136us/sample - loss: 0.3971 - accuracy: 0.8369 - val_loss: 0.3752 - val_accuracy: 0.8508
Epoch 85/100
5850/5850 [==============================] - 1s 136us/sample - loss: 0.3970 - accuracy: 0.8354 - val_loss: 0.3730 - val_accuracy: 0.8569
Epoch 86/100
5850/5850 [==============================] - 1s 134us/sample - loss: 0.3965 - accuracy: 0.8354 - val_loss: 0.3744 - val_accuracy: 0.8508
Epoch 87/100
5850/5850 [==============================] - 1s 141us/sample - loss: 0.3964 - accuracy: 0.8373 - val_loss: 0.3752 - val_accuracy: 0.8538
Epoch 88/100
5850/5850 [==============================] - 1s 124us/sample - loss: 0.3973 - accuracy: 0.8350 - val_loss: 0.3752 - val_accuracy: 0.8523
Epoch 89/100
5850/5850 [==============================] - 1s 130us/sample - loss: 0.3969 - accuracy: 0.8364 - val_loss: 0.3746 - val_accuracy: 0.8554
Epoch 90/100
5850/5850 [==============================] - 1s 133us/sample - loss: 0.3964 - accuracy: 0.8364 - val_loss: 0.3724 - val_accuracy: 0.8569
Epoch 91/100
5850/5850 [==============================] - 1s 135us/sample - loss: 0.3963 - accuracy: 0.8354 - val_loss: 0.3742 - val_accuracy: 0.8538
Epoch 92/100
5850/5850 [==============================] - 1s 131us/sample - loss: 0.3970 - accuracy: 0.8359 - val_loss: 0.3734 - val_accuracy: 0.8585
Epoch 93/100
5850/5850 [==============================] - 1s 125us/sample - loss: 0.3967 - accuracy: 0.8390 - val_loss: 0.3737 - val_accuracy: 0.8492
Epoch 94/100
5850/5850 [==============================] - 1s 153us/sample - loss: 0.3965 - accuracy: 0.8362 - val_loss: 0.3743 - val_accuracy: 0.8554
Epoch 95/100
5850/5850 [==============================] - 1s 134us/sample - loss: 0.3963 - accuracy: 0.8371 - val_loss: 0.3749 - val_accuracy: 0.8554
Epoch 96/100
5850/5850 [==============================] - 1s 142us/sample - loss: 0.3966 - accuracy: 0.8366 - val_loss: 0.3753 - val_accuracy: 0.8508
Epoch 97/100
5850/5850 [==============================] - 1s 134us/sample - loss: 0.3963 - accuracy: 0.8368 - val_loss: 0.3751 - val_accuracy: 0.8523
Epoch 98/100
5850/5850 [==============================] - 1s 134us/sample - loss: 0.3967 - accuracy: 0.8361 - val_loss: 0.3759 - val_accuracy: 0.8508
Epoch 99/100
5850/5850 [==============================] - 1s 128us/sample - loss: 0.3968 - accuracy: 0.8364 - val_loss: 0.3745 - val_accuracy: 0.8508
Epoch 100/100
5850/5850 [==============================] - 1s 126us/sample - loss: 0.3958 - accuracy: 0.8371 - val_loss: 0.3733 - val_accuracy: 0.8523

In [38]:
y_pred = model.predict(X_test)
y_pred = (y_pred > 0.5)

In [39]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(Y_test, y_pred)
print(cm)
backend.clear_session()

[[2699   80]
 [ 460  261]]